header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: url(../../assets/img/bg-slider-06.jpg) center/cover;
    height: 100vh;
    position: relative;

    nav {
        position: absolute;
        top: 0;
        width: 80%;
        height: 50px;
        margin: 0 auto;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-resto {
            color: $white1;
            font-size: 3rem;
            font-weight: 200;
            font-family: $font1;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            color: $white1;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 400;

            li {
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    color: $orang;
                    transform: scale(1.2);
                }
            }

        }


        .nav-social {
            display: flex;
            justify-content: space-evenly;
            width: 13%;
            color: white;

            i {
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    color: $orang;
                }
            }
        }

        @media screen and (max-width:900px) {
            .nav-resto {
                font-size: 2rem;
            }

            .navbar,
            .nav-social {
                font-size: 0.7rem;
            }
        }

        @media screen and (max-width:580px) {
            .navbar {
                display: none;
            }

            .nav-resto {
                font-size: 3rem;
                font-weight: bold;
            }

            .nav-social {
                font-size: 1rem;
                width: 45%;
            }
        }

    }

    h4 {
        font-size: 3.5rem;
        margin-top: -100px;

        @media screen and (max-width:600px) {
            font-size: 2.2rem;
            line-height: 70px;
        }
    }

    h1 {
        color: $white1;
        font-size: 4rem;
        letter-spacing: 15px;
        text-transform: uppercase;
        font-family: $font2;

        @media screen and (max-width:600px) {
            font-size: 2.4rem;
            letter-spacing: 10px;
        }
    }

    img {
        width: 40px;
        padding: 50px 0 38px;

        @media screen and (max-width:600px) {
            width: 30px;
            padding: 30px 0 25px;
        }
    }

    p {
        color: $white1;
        letter-spacing: 8px;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-family: $font3;

        @media screen and (max-width:600px) {
            width: 80%;
        }
    }


}